<%= form_with(model: @student) do |form| %>
  <div class="modal-body">
  <%= form.hidden_field :teacher_id, value: current_teacher.id %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control mt-2 mb-2' %>
  </div>
  <div class="form-group">
    <%= form.label :subject_name %>
    <%= form.text_field :subject_name, class: 'form-control mt-2 mb-2' %>
  </div>
  <div class="form-group">
    <%= form.label :marks %>
    <%= form.number_field :marks, class: 'form-control mt-2 mb-2', min: 0 %>
  </div>
  <div>
    <%= form.submit class: 'btn btn-primary mt-2', data: { action: 'click->bs-modal#submitEnd' } %>
  </div>
  </div>
<% end %>
