<div id="<%= dom_id(student) %>">
  <p>Name: <%= student.name %></p>
  <p>Age: <%= student.subject_name %></p>
  <p>Email: <%= student.marks %></p>
  <%= link_to 'Edit', edit_student_path(student), class: 'button' %> |
  <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
</div>
