
<%#= link_to 'New Student', new_student_path, data: { turbo_frame: 'modal' }, class: "btn btn-primary" %>

<!-- Turbo Modal -->
<%# <div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modal-content"></div>
    </div>
  </div>
</div>
 %>
<div class="container mt-5">
	<div class="row">
		<div class="col-md-6 d-flex justify-content-start">
 			<h2>Student List</h2>
		</div>
		<div class="col-md-6 d-flex justify-content-end">
 			<%= link_to 'Create Student', new_student_path(format: :turbo_stream), class: 'btn btn-primary mb-3', id: 'add-job-link', data: { controller: "bs-modal"} %>
 			<%# <%= link_to "New Post", new_post_path(format: :turbo_stream), data: { turbo_frame: "_top" } %>
		</div>
	</div>


 <table class="table" data-controller= "bs-modal">
 	<thead>
 		<tr>
 			<th>Name</th>
 			<th>Subject</th>
 			<th>Marks</th>
 			<th>Actions</th>
 		</tr>
 	</thead>
 	<tbody id="student-list">
 		<% @students.each do |student| %>
 		<tr id="student-<%= student.id %>">
 			<td><%= student.name %></td>
 			<td><%= student.subject_name %></td>
 			<td><%= student.marks %></td>
 			<td>
 				<%= link_to 'Edit', edit_student_path(student) %> |
 				<%= link_to 'Delete', student_path(student), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
 			</td>
 		</tr>
 		<% end %>
 	</tbody>
 </table>
</div>