<div class="container mt-5">
	<h2>Welcome <%= current_teacher.email %></h2>

	<%= link_to "Add Student", new_student_path, class: "btn btn-primary mb-4", data: { bs_toggle: "modal", bs_target: "#exampleModal" } %>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <%= form_with(model: @student, url: students_path, method: :post, local: true) do |form| %>
				    <%= form.hidden_field :teacher_id, value: current_teacher.id %>
				    <div class="form-group">
				      <%= form.label :name %>
				      <%= form.text_field :name, class: 'form-control mt-2 mb-2' %>
				    </div>
				    <div class="form-group">
				      <%= form.label :subject_name %>
				      <%= form.text_field :subject_name, class: 'form-control mt-2 mb-2' %>
				    </div>
				    <div class="form-group">
				      <%= form.label :marks %>
				      <%= form.number_field :marks, class: 'form-control mt-2 mb-2', min: 0 %>
				    </div>
				    <div>
				      <%= form.submit class: 'btn btn-primary mt-2' %>
				    </div>
				  <% end %>
	      </div>
	      <%# <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div> %>
	    </div>
	  </div>
	</div>

	<h2>Student List</h2>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Subject</th>
	      <th>Marks</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody id="student-list">
	    <% @students.each do |student| %>
	      <tr id="student-<%= student.id %>">
	        <td><%= student.name %></td>
	        <td><%= student.subject_name %></td>
	        <td><%= student.marks %></td>
	        <td>
	          <%= link_to 'Edit', edit_student_path(student) %> |
	          <%= link_to 'Delete', student_path(student), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>


</div>